body {
background-color: #3090D5; 
/*strong blue*/
color: #013220;/*black or dark green*/
font-family: "Times new roman", Times, serif; 
font-size: 2em;
}     

h1 {
font-family: Arial, Helvetica, sans-serif;   
}
	
table {
	font-family: Arial, Helvetica, sans-serif;   
color: #ffffff; 
	background-color: #000000;
/*black*/
	}
	
	
	